@import "./vars.less";

:global {
  .ant-modal-mask {
    background-color: rgba(55, 55, 55, 0.2);
  }

  .ant-modal-content {
    box-shadow: none;
  }

  .ant-card {
    &:hover {
      overflow: auto;
    }
  }

  .ant-pagination-item {
    margin-bottom: 8px;
  }

  .ant-btn {
    margin-right: 8px;
  }
  .comment-editor{
    height: 275px !important;
    border: 1px solid #F1F1F1 !important;
    padding: 5px !important;
    border-radius: 2px !important;
    background-color: white;
  }
  .sv_complete_btn {
    float:right;
  }
}
