@import "../vars.less";

.pillBox {
    a {
        text-decoration: none;
        border: 1px solid #bcbcbc;
        line-height: 14px;
        padding: 1px 6px 2px 6px;
        background: white;
        margin-right: 5px;
    }
    a:hover {
        border-color: #f60;
    }
    h5 {
        display: inline;
        padding-right: 6px;
        color: #999;
        font-weight: normal;
    }  
    .pillText {
        color: #666;
        display: inline-block;
        max-width: 120px;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        height: 25px;
        line-height: 22px;
        vertical-align: middle;
    }
    .pillCancel {
        position: relative;
        top: 1px;
        left: 5px;
        display: inline-block;
        width: 12px;
        height: 9px;
        _top: 5px;
        //background: url(//img.alicdn.com/tps/i4/T1AA5EFd0cXXcq.EHS-300-289.png) -193px 0;
    }
    a:hover .pillCancel{
        color: #f60;
    }

}
